.header {
    height: rem(56px);
    background-color: #040404;
    box-shadow: 0px 18px 44px 0px rgba(0,0,0,0.75);
  }
  
  .inner {
    height: rem(56px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .link {
    display: block;
    line-height: 1;
    padding: rem(8px) rem(12px);
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: #fff;
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
    text-transform: uppercase;
  }